body{
background: lightsalmon;

}
    h1,
    h2,
    h3{
        text-align: center;

    }
img {
    display: inline-block;
    max-width: 100%;
    padding: 20px;

}

.container {
    text-align: center;
}

